html{
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    color: white;
}
*,
*::before,
*::after{
    box-sizing: inherit;
    margin:0;
    padding:0;
}
img{
    flex:none;
}
button{
    flex: initial;
    color:white;
    background-color: blue;
    border-radius: 0.8rem;
    border-style:none;
    padding:1rem 2rem;
    margin:0;
    font-size: 2rem;
    font-weight: 700;
    width: 16rem;
    cursor:pointer;
}
body{
    background-color: black;
    display:flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.container{
    display:flex;
    flex-direction: column;
    height:100%;
    max-width: 100%;
    min-width: fit-content;
    flex:1;
}
.headerOut{
    display:flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 2rem 4rem 4rem;
    gap: 4rem;
}
#welcome{
    flex:none;
    display:flex;
    flex-flow: column;
    justify-content: space-between;
    width:400px;
    height:250px;
    h1{
        flex:1;
        font-size: 6rem;
    }
    p{
        flex:1;
        font-size: 1.6rem;
    }
}
.headerBottom{
    flex:1;
    display:flex;
    justify-content: center;
    
    flex-wrap: wrap;
    gap:6rem;
}
.headerTop{
    flex:1;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10rem;
    gap:4rem;
}
.headerTop ul{
    display:flex;
    flex-wrap:wrap;
    list-style:none;

    flex:initial;
    gap: 4rem;
    a{
        font-weight: 500;
    }
}
.headerTop a{
    text-decoration: none;
    color:white;
    font-size: 2rem;
    font-weight: 700;
    flex:none;
}

.info-block{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding: 4rem;
    gap: 4rem;
    background-color: white;
    .info-header{
        font-size: 36px;
        font-weight: 900;
        color: #1F2937;
    }
    .info-pics{
        display:flex;
        justify-content: center;
        gap:4rem;
        flex-wrap: wrap;
        
        .ipt{
            flex:none;
            max-width: 15rem;
            text-align: center;
            color: #1F2937;
        }

        img{
            flex:none;
            width:15rem;
            height:15rem;
            border: 0.3rem solid #3882F6;
            border-radius: 1rem;
        }
    }
}