html{
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    color: white;
}
*,
*::before,
*::after{
    box-sizing: inherit;
    margin:0;
    padding:0;
}
img{
    flex:none;
}
button{
    flex: initial;
    color:white;
    background-color: blue;
    border-radius: 0.8rem;
    border-style:none;
    padding:1rem 2rem;
    margin:0;
    font-size: 2rem;
    font-weight: 700;
    width: 16rem;
    cursor:pointer;
}
body{
    background-color: black;
    display:flex;

    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.container{
    display:flex;
    flex-direction: column;
    align-content: center;
    height:100%;
    max-width: 100%;
    min-width: fit-content;
    flex:1;
}
.headerOut{
    display:flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 2rem 4rem 4rem;
    gap: 4rem;
}
#welcome{
    flex:none;
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: space-center;
    width:400px;
    height:250px;
    gap:1.6rem;
    h1{
        flex:none;
        font-size: 6rem;
    }
    p{
        flex:none;
        font-size: 1.6rem;
    }
}
.headerBottom{
    flex:1;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:6rem;
}
.headerTop{
    flex:1;
    display:flex;
    flex-wrap:wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 0 10rem;
    gap:4rem;
}
.headerTop ul{
    display:flex;
    flex-wrap:nowrap;
    list-style:none;

    flex:initial;
    gap: 4rem;
    a{
        font-weight: 500;
    }
}
.headerTop a{
    text-decoration: none;
    color:white;
    font-size: 2rem;
    font-weight: 700;
    flex:none;
    text-wrap:nowrap;
}

.info-block{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding: 4rem;
    gap: 4rem;
    background-color: white;
    .info-header{
        font-size: 3.6rem;
        font-weight: 900;
        color: #1F2937;
    }
    .info-pics{
        display:flex;
        justify-content: center;
        gap:8.6rem;
        flex-wrap: wrap;
        
        .ipt{
            flex:none;
            max-width: 15rem;
            text-align: center;
            color: #1F2937;
        }

        img{
            flex:none;
            width:15rem;
            height:15rem;
            border: 0.3rem solid #3882F6;
            border-radius: 1rem;
        }
    }
}
.zcont{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 4rem;
    .zinside{
        flex:1;
        display:flex;
        flex-direction: column;
        max-width: 76rem;
        color: #1F2937;
        font-style: italic;
        gap:1rem;
        padding: 4rem;
            div{
                flex:none;
                font-size: 3.6rem;
                font-weight: light;
                ;
            }
            span{
                flex:none;
                align-self: flex-end;
                font-size: 2rem;
                font-weight: 700;
            }
    }
}
.White{
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    .Blue{
        flex:1;
        background-color: #3882F6;
        max-width: 86rem;
        padding:3rem 6rem;
        display:flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0.8rem;
        .text{
            display:flex;
            flex-direction: column;
            justify-content: center;
            gap:0.4rem;
            .t1{
                flex:initial;
                font-size: 2.4rem;
                color:#F9FAF8;
            }
            .t2{
                flex:initial;
                font-size:1.8rem;
                color:#E5E7EB;
            }
        }
        button{
            border:0.2rem solid white;
        }
    }
}
.footer{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    background-color: #1F2937;
    font-size: 1.337rem;
}